<main>

    <div class="buscador">
        <input type="number" #id placeholder="ID del libro a buscar">
        <button type="reset" on-click="buscar(id)">Buscar</button>
    </div>

    <div class="libros" *ngIf="libros.length > 0; else sinLibros">  
        <div *ngFor="let libro of libros; let par = even;">
            <app-card [libro]="libro" [par]="par" (deleteEvent)="borrar($event)"></app-card>
        </div>
    </div>

    <ng-template #sinLibros>
        <p>
            No tienes libros en tu colección
        </p>
    </ng-template>

</main>
